*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #000;
    overflow:visible;
}

container{
    width: 80%;
    margin: auto;
}

nav{
    background-color: pink;
    padding: 10px 0;
}

.nav-links{
    list-style: none;
    display: flex;
    gap: 30px;

}

.nav-links a{
    color: purple;
    text-decoration:none;

}

#home{
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 50px 0;

}



.home-text h1{
    font-size: 2rem;
    color: rgb(245, 6, 86);
}

.home-text h1 {
    width: 473px;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid #7E2EA0;
    animation: typing 2s steps(12, end), cursor .2s steps(12, end) infinite;
}

@keyframes typing {
    from { width: 0 }
}
@keyframes cursor {
    50% { border-color: transparent }
}












